h1{
	background-color: #6e95e5;
	padding: 10px;
}

div{
	background-color: #a8c8ea;
	margin-top : -22px;
	padding-top : 10px;
	padding-bottom: 5px;
}

p{
	background-color: #c3f4f4;
	padding-top : 10px;
	padding-bottom: 10px;
}